body {
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	color: #008303;
}
a, h1, h2 {
	color: #00008F;
}
form {
	margin: 0.1em auto;
	padding: 0.1em;
	width: 400px;
	border: 1px;
}
input, textarea {
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 12px;
	color: #777;
}
input[type=submit] {
	width: auto;
}
label {
	font-weight: bold;
}
.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.1em auto;
	padding: 0.1em;
	width: 504px;
}
.recipe {
	border: 1px solid #888;
}
#skill {
	width: 200px;
}
