{% extends "layout.html" %}
{% block content %}
<h2>Recipe Book</h2>

<h3>
    <a href="{{ url_for('add_recipe') }}">
        Add a recipe
    </a>
</h3>
<h3>
    Recipes
</h3>
{% if recipes != [] %}
{% for recipe in recipes %}
<div class="recipe">
    <h4>
        {{ recipe.title }} - {{ recipe.author }}
    </h4>
    <br>
    Time: {{ recipe.time }} | Difficulty: {{ recipe.skill }}/10
    <ul class="ingredient-list">
        {% for ingredient in recipe.ingredients %}
        <li class="ingredient">
            {{ ingredient }}
        </li>
        {% endfor %}
    </ul>
    {{ recipe.description }}
</div>
{% endfor %}
{% else %}
<p>
    No recipes yet.
</p>
{% endif %}
{% endblock %}
