{% extends "layout.html" %}
{% block content %}
<h2>
	Add a Recipe
</h2>
<form action="{{ url_for('add_recipe') }}" method="post">
	<label>
		<div id="label">
			Title:
		</div>
		<input id="title" type="text" name="title" required>
	</label>
	<br>
	<label>
		<div id="label">
			Author:
		</div>
		<input id="author" type="text" name="author" required>
	</label>
	<br>
    <label>
    	<div id="label">
    		Ingredients (separated by newlines):
    	</div>
    	<textarea id="ingredients" rows="5" cols="50" wrap="off" placeholder="Separate ingredients by newlines" name="ingredients" required></textarea>
    </label>
    <br>
	<label>
		<div id="label">
			Time (minutes):
		</div>
		<select id="time" name="time" required>
			{% for i in range(5, 61, 5) %}
			<option value="{{ i }}">
				{{ i }}
			</option>
			{% endfor %}
		</select>
	</label>
	<br>
	<label>
		<div id="label">
			Skill:
		</div>
		<input id="skill" type="number" placeholder="1 (easy) to 10 (difficult)" min="1" max="10" name="skill" required>
	</label>
	<br>
	<label>
		<div id="label">
			Description:
		</div>
		<textarea id="description" rows="5" cols="50" wrap="off" name="description"></textarea>
	</label>
	<br>
	<input id="submit" type="submit" value="Add"></p>
</form>
{% endblock %}
